<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <script src="~/js/map_partner.js"></script>
    <link href="~/css/partner/infopartner.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMF53NXGYhHFNQQcT87lhe0ieM3AkUjYM"></script>
</head>
<body>
    <div class="container-xl px-4 mt-4">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Hình ảnh cá nhân</div>
                    <div class="card-body text-center">
                        @if (Model?.PartnerInfo.ImagePartner == null)
                        {
                           @* <div class="small font-italic text-muted mb-4">JPG hoặc PNG không vượt quá 5 MB</div>*@
                        }
                        else
                        {
                            <img style="max-height:600px;height:100%;max-width:380px;width:100%"
                             class="img-account-profile mb-2" src="@Model?.PartnerInfo.ImagePartner" alt="">
                        }
                    </div>
                </div>
                @if (@Model?.PartnerInfo.Lat == null && @Model?.PartnerInfo.Lng == null ) {
                    <div style="margin-top: 20px">
                        <button class="btn btn-primary" onclick="getnewLocation()">Lấy vị trí</button>
                    </div>
                }
                <div id="map" style="width: 100%; height: 400px; margin-top: 20px"></div>
                <input type="hidden" name="Lat" id="inputLat" value="@Model?.PartnerInfo.Lat" />
                <input type="hidden" name="Lng" id="inputLng" value="@Model?.PartnerInfo.Lng" />
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Thông tin người dùng</div>
                    <div class="card-body-info">
                        <form method="post" asp-controller="InformationPartner" asp-action="Index" enctype="multipart/form-data">
                            <div class="card-body">
                                <label for="image"></label>
                                <input type="file" id="image" name="image" value="@Model?.PartnerInfo.ImagePartner" enctype="multipart/form-data" accept="image/*">
                            </div>
                            <div class="card-body media align-items-center" style=" display: block;">
                                <div style="margin-bottom:1%;" class="media-body">
                                    <label for="imagePartner">
                                        Hình ảnh giấy chứng nhận
                                    </label> &nbsp;
                                </div>
                                @*Chưa thêm ảnh*@
                                <div class="anh-chung-chi">
                                    @if (Model?.PartnerInfo.ImageCertificate == null)
                                    {
                                        @*<div class="small font-italic text-muted mb-4">JPG hoặc PNG không vượt quá 5 MB</div>*@
                                    }
                                    else
                                    {
                                        <img src="@Model?.PartnerInfo.ImageCertificate" alt="" class="d-block ui-w-80">
                                    }
                                    <input type="file" id="imagePartner" name="imagePartner" style=" margin-left: 10px;" value="@Model?.PartnerInfo.ImageCertificate" enctype="multipart/form-data" accept="imagePartner/*">
                                </div>
                               
                            </div>
                            <div class="card-body">
                                <div style="padding-right: 5px; width: 50%;">
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName">Họ</label>
                                            <input class="form-control" name="FirstName" id="inputFirstName" type="text" placeholder="Nhập họ hoặc tên đệm của bạn" value="@Model?.PartnerInfo.FirstName" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLastName">Tên</label>
                                            <input class="form-control" name="LastName" id="inputLastName" type="text" placeholder="Nhập tên của bạn" value="@Model?.PartnerInfo.LastName" required>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputDob">Ngày Sinh</label>
                                        <input class="form-control" name="Dob" id="inputDob" type="date" value="@Model?.PartnerInfo.Dob?.ToString("yyyy-MM-dd")" required>
                                    </div>

                            
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="@Model?.Email" disabled>
                                    </div>

                                     <div class="mb-3">
                                        <label class="small mb-1" for="inputBanks">Tên ngân hàng</label>
                                        <select class="form-control" id="bankDropdown" onchange="updateSelectedValue()">
                                            <option value="" selected disabled>@Model?.PartnerInfo.CardName</option>
                                        </select>
                                    </div>

                                     <div class="mb-3">
                                        <label class="small mb-1" for="inputCardNumber">Số tài khoản</label>
                                        <input class="form-control" id="CardNumber" type="text" name="CardNumber" value="@Model?.PartnerInfo.CardNumber" required>
                                    </div>
                                </div>
                                <div style="padding-left: 5px; width: 50%;">
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputProvince">Tỉnh</label>
                                            <select class="form-control" id="provinceDropdown" onchange="loadDistricts()">
                                                <option value="" selected disabled>@Model?.PartnerInfo.Province</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputDistrict">Huyện/Thành Phố</label>
                                            <select class="form-control" id="districtDropdown" onchange="loadWards()">
                                                <option value="" selected disabled>@Model?.PartnerInfo.District</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputWard">Xã/Quận</label>
                                            <select class="form-control" id="wardDropdown">
                                                <option value="" selected disabled>@Model?.PartnerInfo.Commune</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputAddress">Địa chỉ cụ thể</label>
                                            <input class="form-control" name="Address" id="inputAddress" type="text" placeholder="Nhập địa chỉ" value="@Model?.PartnerInfo.Address" required>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputPhone">Số điện thoại </label>
                                        <input class="form-control" name="Phone" id="inputPhone" type="text" placeholder="Nhập số điện thoại của bạn" value="@Model?.PartnerInfo.Phone" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputDescriptions">Mô tả </label>
                                        <textarea class="form-control" name="Descriptions" id="inputDesciptions" style="height: 119px;" placeholder="Mô tả về bạn">@Model?.PartnerInfo.Descriptions</textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="Province" id="provinceNameInput" />
                            <input type="hidden" name="District" id="districtNameInput" />
                            <input type="hidden" name="Commune" id="wardsNameInput" />
                            @*input ẩn, lưu thông tin cá nhân thì 2 trường này về null*@
                            <input type="hidden" name="Lat" id="inputLatt" />
                            <input type="hidden" name="Lng" id="inputLngg" />
                            <input type="hidden" name="CardName" id="selectedCardName" />

                            <div class="card-body" style="justify-content: center;">
                                <button class="btn btn-primary" style="margin-right: 5px;" type="submit">Lưu thay đổi</button>
                                <a href="~/Partner/ChangePasswordPartner" style="margin-left: 5px;" class="btn btn-primary">
                                    Đổi mật khẩu
                                </a>
                            </div>
                            
                                                       
                        </form>
                    </div>                   

                    <script>
                        window.addEventListener("load", function () {
                            // Gọi action để lấy và hiển thị bản đồ với vị trí từ hàm Index của controller
                            getLocation();
                            showPartnerLocation(@Model?.PartnerInfo.Lat, @Model?.PartnerInfo.Lng);
                            startWatchingLocation(); // gọi hàm theo dõi vị trí
                        });

                        function getLocation() {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(
                                    function (position) {
                                        var latitude = position.coords.latitude;
                                        var longitude = position.coords.longitude;

                                        // Show position on the map
                                        initMap(latitude, longitude);

                                        // Update hidden input fields with latitude and longitude
                                        document.getElementById("inputLat").value = latitude;
                                        document.getElementById("inputLng").value = longitude;

                                        // Call the API to update the location in the database
                                        updateLocation(latitude, longitude);
                                    },
                                    function (error) {
                                        showError(error);
                                    }
                                );
                            } else {
                                alert("Trình duyệt của bạn không hỗ trợ Geolocation.");
                            }
                        }

                        async function updateLocation(latitude, longitude) {
                            try {
                                const response = await fetch('/InformationPartner/UpdateLocation', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ lat: latitude, lng: longitude })
                                });

                                if (response.ok) {
                                    console.log('Location updated successfully.');
                                } else {
                                    console.error('Failed to update location.');
                                }
                            } catch (error) {
                                console.error('Error updating location:', error);
                            }
                        }

                        function initMap(latitude, longitude) {
                            var map = new google.maps.Map(document.getElementById('map'), {
                                center: { lat: latitude, lng: longitude },
                                zoom: 15
                            });

                            var marker = new google.maps.Marker({
                                position: { lat: latitude, lng: longitude },
                                map: map,
                                title: 'Vị trí của bạn'
                            });
                        }

                        function showError(error) {
                            // Handle error messages as needed
                            switch (error.code) {
                                case error.PERMISSION_DENIED:
                                    alert("Truy cập vào vị trí bị từ chối bởi người dùng.");
                                    break;
                                case error.POSITION_UNAVAILABLE:
                                    alert("Không thể lấy được vị trí của bạn.");
                                    break;
                                case error.TIMEOUT:
                                    alert("Yêu cầu lấy vị trí của bạn đã quá thời gian.");
                                    break;
                                case error.UNKNOWN_ERROR:
                                    alert("Đã xảy ra lỗi không xác định.");
                                    break;
                            }
                        }

                        // add mới, theo dõi vị trí khi di chuyển
                        function startWatchingLocation() {
                            if (navigator.geolocation) {
                                navigator.geolocation.watchPosition(
                                    function (position) {
                                        var newLatitude = position.coords.latitude;
                                        var newLongitude = position.coords.longitude;
                                        initMap(newLatitude, newLongitude);

                                        // Cập nhật giá trị của inputLat và inputLng
                                        document.getElementById("inputLat").value = newLatitude;
                                        document.getElementById("inputLng").value = newLongitude;
                                    },
                                    function (error) {
                                        showError(error);
                                    }
                                );
                            } else {
                                alert("Trình duyệt của bạn không hỗ trợ Geolocation.");
                            }
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/takeAddress.js"></script>
<script>
function loadBanks() {
    fetch('https://api.vietqr.io/v2/banks')
        .then(response => response.json())
        .then(data => {
            var banks = data.data;
            var bankDropdown = document.getElementById('bankDropdown');

            // Clear existing options in bank dropdown
            bankDropdown.innerHTML = "";

            // Add new bank options
            for (var i = 0; i < banks.length; i++) {
                var option = document.createElement('option');
                option.value = banks[i].shortName;
                option.text = banks[i].shortName;
                bankDropdown.appendChild(option);
            }
            updateSelectedValue();
            var defaultCardName = "@Model?.PartnerInfo.CardName";
            if (defaultCardName) {
                bankDropdown.value = defaultCardName;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

// Function to update the hidden input field with the selected value
function updateSelectedValue() {
    var bankDropdown = document.getElementById('bankDropdown');
    var selectedValue = bankDropdown.options[bankDropdown.selectedIndex];
    var selectedCardName = document.getElementById('selectedCardName');
    selectedCardName.value = selectedValue.text;
}

// Call loadBanks function when the window loads
window.onload = function() {
    loadBanks();
};

// Event listener for dropdown change
var bankDropdown = document.getElementById('bankDropdown');
bankDropdown.addEventListener('change', function() {
    var selectedBank = bankDropdown.value;
    console.log('Bạn đã chọn ngân hàng có mã:', selectedBank);
    updateSelectedValue(); 
});

</script>

</body>
</html>
