@model FEPetServices.Form.RegisterDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Register.css">

    <link href="~/css/toastnotification.css" rel="stylesheet" />
    <script src="~/js/toastnotification.js"></script>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form asp-controller="Register" asp-action="Index" class="login-form" method="post">
                    <h2>Đăng ký</h2>
                    <div class="inputbox">
                        <ion-icon name="accessibility-outline"></ion-icon>
                        <input asp-for="FirstName" type="text" required>
                        <label for="">Họ</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="accessibility-outline"></ion-icon>
                        <input asp-for="LastName" type="text" required>
                        <label for="">Tên</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="call-outline"></ion-icon>
                        <input asp-for="Phone" type="tel" pattern="0\d{9}" title="Số điện thoại phải bắt đầu bằng số 0 và có tổng cộng 10 chữ số" required>
                        <label for="">Số điện thoại</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input asp-for="Email" type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input asp-for="Password" type="password" required>
                        <label for="">Mật khẩu</label>
                    </div>
                    <button id="registerButton">Đăng ký</button>
                    <div class="register">
                        <p>Quay trở lại <a href="~/Login/Index">Đăng nhập</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div id="toast"></div>
        @if (!string.IsNullOrEmpty(ViewBag.SuccessToast))
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    showSuccessToast();
                });
            </script>
        }
        @if (!string.IsNullOrEmpty(ViewBag.ErrorToast))
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    showErrorToast();
                });
            </script>
        }
    </section>
</body>
</html>
