input[type="file"] {
    display: none;
}

/* Tạo kiểu cho nút tùy chỉnh thay thế */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f8f8;
}

    /* Tạo kiểu khi di chuột vào nút tùy chỉnh */
    .custom-file-upload:hover {
        background-color: #e0e0e0;
    }
