﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/manager/product.css" rel="stylesheet" />
</head>
<body>
    <h1 style="font-size: 40px; font-weight: bold; text-align:center">Thêm sản phẩm cho thú cưng</h1>
    <div class="container">
        <form asp-action="Add" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div class="row">
                <div class="col-25">
                    <label for="ProductName">Tên Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="ProductName" name="ProductName" placeholder="Tên sản phẩm" required>
                    <div style="color:red" class="error-message" id="fname-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="image">Ảnh<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <input type="file" id="image" name="image" onchange="changeImageSource()" style="margin-top:20px" required accept="image/*">

                    <img src="~/img/icon/addicon.png" height="100px" width="100px" style="float: left; padding: 10px;" id="imagePreview">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Price">Giá Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="quantity-container">
                        <input type="number" class="quantity" id="Price" name="Price" placeholder="Giá tiền" min="0" required>&ensp; đ
                    </div>
                    <div style="color:red" class="error-message" id="price-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Quantity">Số lượng sản phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="quantity-container">
                        <input type="number" class="quantity" id="Quantity" name="Quantity" placeholder="Số lượng" min="0" required>&ensp;
                    </div>
                    <div style="color:red" class="error-message" id="quantity-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="CreateDate">Ngày Tạo<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <div class="date-container">
                        <input type="date" class="create" id="CreateDate" name="CreateDate" style="height : 40px; width : 100%; padding : 12px;" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="ProCategoriesId">Loại Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i></label>
                </div>
                <div class="col-75">
                    @if (ViewBag.ProCategories != null)
                    {
                        <select id="ProCategoriesId" name="ProCategoriesId" required>
                            <option value="">Chọn loại sản phẩm</option>
                            @foreach (var category in ViewBag.ProCategories)
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <span class="text-danger">Lỗi: Dữ liệu không khả dụng.</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Desciption">Mô Tả<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <textarea id="Desciption" name="Desciption" placeholder="Nội Dung" style="height:200px" required></textarea>
                    <div style="color:red" class="error-message" id="subject-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75 btn-row">
                    <div class="btn-back">
                        <a type="submit" value="Cancel" href="/Manager/Product" class="cancel">Trở lại</a>
                    </div>
                    <div class="btn-submit">
                        <input type="submit" value="Thêm sản phẩm">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <style>
       .fa-asterisk {
            color: red;
            font-size:6px;
            padding-top:20px;
            margin-right:10px;
        }
    </style>
    <script src="~/js/manager/Product.js"></script>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var createDateInput = document.getElementById("CreateDate");
        var today = new Date().toISOString().split('T')[0];
        createDateInput.value = today;
    });
</script>

