<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/common/image.css" rel="stylesheet" />
</head>
<body>
    <div class="container-xl px-4 mt-4">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Hình ảnh cá nhân</div>
                    <div class="card-body text-center">
                        <img id="previewImage" style="max-height:600px;height:100%;max-width:380px;width:100%"
                             class="img-account-profile mb-2" src="@Model?.UserInfo.ImageUser" alt="">

                        @*<div class="small font-italic text-muted mb-4">JPG hoặc PNG không vượt quá 5 MB</div>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                @*Thông tin người dùng*@
                <div class="card mb-4">
                    <div class="card-header">Thông tin người dùng</div>
                    <div class="card-body">
                        <form method="post" asp-controller="Infomation" asp-action="Index" enctype="multipart/form-data">
                            <div>
                                <label for="checkimage" class="custom-file-upload">Chọn tệp tin</label>
                                <input type="file" id="checkimage" name="image" onchange="displayImage()">
                            </div>
                            
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Họ</label>
                                    <input class="form-control" name="FirstName" id="inputFirstName" type="text" placeholder="Nhập họ hoặc tên đệm của bạn" value="@Model?.UserInfo.FirstName" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Tên</label>
                                    <input class="form-control" name="LastName" id="inputLastName" type="text" placeholder="Nhập tên của bạn" value="@Model?.UserInfo.LastName" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputDob">Ngày Sinh</label>
                                <input class="form-control" name="Dob" id="inputDob" type="date" value="@Model?.UserInfo.Dob?.ToString("yyyy-MM-dd")" required>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="@Model?.Email" disabled>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputProvince">Tỉnh</label>
                                    <select class="form-control" id="provinceDropdown" onchange="loadDistricts()">
                                        <option value="" selected disabled>@Model?.UserInfo.Province</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputDistrict">Huyện/Thành Phố</label>
                                    <select class="form-control" id="districtDropdown" onchange="loadWards()">
                                        <option value="" selected disabled>@Model?.UserInfo.District</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputWard">Xã/Quận</label>
                                    <select class="form-control" id="wardDropdown">
                                        <option value="" selected disabled>@Model?.UserInfo.Commune</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputAddress">Địa chỉ cụ thể</label>
                                    <input class="form-control" name="Address" id="inputAddress" type="text" placeholder="Nhập địa chỉ" value="@Model?.UserInfo.Address" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputPhone">Số điện thoại </label>
                                <input class="form-control" name="Phone" id="inputPhone" type="text" placeholder="Nhập số điện thoại của bạn" value="@Model?.UserInfo.Phone" required>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputDescriptions">Mô tả </label>
                                <textarea class="form-control" name="Descriptions" id="inputDesciptions" placeholder="Mô tả về bạn">@Model?.UserInfo.Descriptions</textarea>
                            </div>
                            <input type="hidden" name="Province" id="provinceNameInput" />
                            <input type="hidden" name="District" id="districtNameInput" />
                            <input type="hidden" name="Commune" id="wardsNameInput" />

                            <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                            <a href="~/Manager/ChangePassword" class="btn btn-primary">
                                Đổi mật khẩu
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/takeAddress.js"></script>
<script src="~/js/common/image.js"></script>
</html>



@*
<html>
<head>
    <title>Google Maps Example</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMF53NXGYhHFNQQcT87lhe0ieM3AkUjYM"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <script>
        function initMap() {
            // Tạo một đối tượng bản đồ
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: YOUR_LATITUDE, lng: YOUR_LONGITUDE }, // Thay YOUR_LATITUDE và YOUR_LONGITUDE bằng vị trí mặc định
                zoom: 8 // Mức độ thu phóng mặc định
            });

            // Thêm đánh dấu (marker) cho vị trí mong muốn
            var marker = new google.maps.Marker({
                position: { lat: DESIRED_LATITUDE, lng: DESIRED_LONGITUDE }, // Thay DESIRED_LATITUDE và DESIRED_LONGITUDE bằng vị trí bạn muốn định vị
                map: map,
                title: 'Địa điểm đích'
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
</body>
</html>*@

