@{
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Login.css">
    <title>HASH TECHIE OFFICIAL</title>

    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form asp-controller="ForgotPassword" asp-action="SendResetPasswordEmail" method="post" class="login-form">
                    <h2>Quên mật khẩu?</h2>
                    <div class="inputbox">
                        <input type="text" class="form-control" id="email" name="email" required>
                        <label for="">Nhập địa chỉ email đã đăng ký của bạn</label>
                    </div>
                    <button>Lấy mật khẩu</button>
                </form>
                <div class="register">
                    <p>Quay trở lại <a href="~/Login/Index">Đăng nhập</a></p>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>