﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/RoomCategory.css">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
</head>
<body>

    <h1 style="font-size: 40px; font-weight: bold; text-align:center">Thêm loại phòng cho thú cưng</h1>
    <div class="container">
        <form asp-action="AddRoomCategory" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div class="row">
                <div class="col-25">
                    <label for="RoomCategoriesName">Tên Loại Phòng<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="RoomCategoriesName" name="RoomCategoriesName" placeholder="Tên loại phòng..." required>
                    <div style="color:red" class="error-message" id="fname-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="image">Ảnh<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>

                <div class="col-75">
                    <input type="file" id="image" name="image" onchange="changeImageSource()" accept="image/*" style="margin-top:20px" required>

                    <img src="~/img/icon/addicon.png" height="100px" width="100px" style="float: left; padding: 10px;" id="imagePreview">

                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="Desciptions">Mô Tả<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
                </div>
                <div class="col-75">
                    <textarea id="Desciptions" name="Desciptions" placeholder="Nội Dung .." style="height:200px" required></textarea>
                    <div style="color:red" class="error-message" id="subject-error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75 btn-row">
                    <div class="btn-back">
                        <a type="submit" value="Cancal" href="/Manager/RoomCategory" class="cancel">Trở lại</a>
                    </div>
                    <div class="btn-submit">
                        <input type="submit" value="Thêm loại phòng">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/RoomCategory.js"></script>
    <style>
.fa-asterisk {
            color: red;
            font-size:6px;
            padding-top:20px;
            margin-right:10px;
        }
</style>
</body>
</html>

