body {
    font-family: 'Arial', sans-serif;
/*    background-color: #f5f5f5;*/
}

h1 {
    color: #007BFF;
    text-align: center;
    margin: 20px 0;
}

#lists {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

    #lists th,
    #lists td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    #lists th {
        background-color: #007BFF;
        color: #fff;
    }

    #lists tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #lists tr:hover {
        background-color: #e0e0e0;
    }

a.detail-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    transition: background-color 0.2s;
}

    a.detail-button:hover {
        background-color: #0056b3;
    }

.alert {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.dataTables_wrapper {
    margin: 30px;
}

.dataTables_wrapper .dataTables_filter {
   margin-bottom: 10px;
}

td a.detail-button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}

    td a.detail-button:hover {
        background-color: #0056b3;
    }

.dataTables_wrapper .dt-button {
    margin-bottom: 10px;
}

    .dataTables_wrapper .dt-button {
        padding: 8px 15px;
        margin-right: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .dataTables_wrapper .dt-button :hover {
            background-color: #0056b3;
        }
