.filter-results #label-input {
    transition: all 0.1s ease-in-out;
    color: #2c2c54;
    position: absolute;
    top: 30%;
    left: 18px;
    transform: scale(0.95);
    opacity: 1;
    pointer-events: none;
}

.filter-results .input-base {
    border-radius: 6px;
}

.filter-results .relative input {
    height: 55px;
}

.filter-results #input:focus ~ label#label-input,
#input:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
}

.filter-results #input {
    transition: outline 0.2s ease;
    font-size: 15px;
    outline-color: var(--button-text);
    outline: unset;
    border: 2px solid var(--color-light);
    width: 100%;
    padding-right: 300px;
}

    .filter-results #input:focus {
        box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px rgb(92, 127, 202);
    }

.filter-results .relative {
    position: relative;
}

.main-wrapper{
    margin-top: -30px;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #4454fc none repeat scroll 0 0;
}

.shop-submenu li {
    height: 36px;
    width: max-content;
}

.shop-submenu ul {
    max-height: 369px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: lightskyblue #888;
}

    .shop-submenu ul::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }

    .shop-submenu ul::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .shop-submenu ul::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

        .shop-submenu ul::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }