.toast {
    display: flex;  
    max-width: 420px;
    width: 420px;
    height: auto;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
    padding: 15px;
    padding-bottom:8px;
    transition: all linear 0.3s;
    position:relative;
}

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3.8px;
    background: green;
    text-align: center;
    animation: anim var(--animation-duration, 3s) linear forwards;
}

.toast:hover::after {
    animation-play-state: paused; 
}

.toast:hover {
    animation-play-state: paused;
}

/* Animation Keyframes */
@keyframes slideInLeft {
/*    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }*/

    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    40% {
        transform: translateX(-5%);
        opacity: 1;
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes toastHide {
    0% {
        transform:translateX(0);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 50px));
    }
}

/*@keyframes fadeOut {
    to {
        opacity: 0;
    }
}*/

@keyframes anim {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.toast + .toast {
    margin-top: 15px;
}

/* Icon and Body */
.toast_icon {
    font-size: 30px;
}

.toast_body {
    flex-grow: 1;
    margin-left: 15px; 
}

/* Title and Message */
.toast_title {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.toast_msg {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}

/* Close Button and Icon */
.toast_close,
.toast_icon {
    padding: 0 15px;
}

.toast_close {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Toast States */
.toast:not(.showing):not(.show) {
    opacity: 1;
}

.toast:not(.show) {
    display: flex;
}

/* Toast Types */
.toast--success {
    border-color: #47d864;
}

    .toast--success .toast_icon {
        color: #47d864;
    }

.toast.toast--success::after {
    background: #47d864;
}

.toast--error {
    border-color: #ff623d;
}

    .toast--error .toast_icon {
        color: #ff623d;
    }

.toast.toast--error::after {
    background: #ff623d;
}

.toast--wating {
    border-color: #ffd43b;
    opacity: 1;
}

    .toast--wating .toast_icon {
        color: #ffd43b;
    }

.toast.toast--wating::after {
    background: #ffd43b;
}

/* Heading Styles */
h3 {
    padding-bottom: 10px;
    margin-bottom: 0;
}

@media only screen and (max-width: 430px) {
    .toast {
        max-width: 100%;
        display: flex;
        max-width: 300px;
        width: 300px;
        height: auto;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
        padding: 15px;
        padding-bottom: 8px;
        transition: all linear 0.3s;
        position: relative;
    }

    .toast_body {
        margin-left: 0; 
        text-align: center; 
    }

    .toast--success,
    .toast--error,
    .toast--wating {
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }
}
