.received-button {
    background-color: #007BFF;
    color: #fff;
    margin: 1px;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}
.received-button:hover {
    background-color: #0056b3;
    color: white;
}
.rejected-button {
    background-color: #007BFF;
    color: #fff;
    margin: 1px;
    padding: 8px 17px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}
.rejected-button:hover {
    background-color: #0056b3;
    color: white;
}
.completed-button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}
.completed-button:hover {
    background-color: #0056b3;
    color: white;
}
.processing-button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}
.processing-button:hover {
    background-color: #0056b3;
    color: white;
}

.detail-button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}
.detail-button:hover {
    background-color: #0056b3;
    color: white;
}
