<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body class="sticky-header">

    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Giới thiệu</li>
                        </ul>
                        <h1 class="title">Giới thiệu về cửa hàng chúng tôi</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/img/other/other3.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="axil-about-area about-style-1 axil-section-gap ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="about-thumbnail">
                        <div class="thumbnail">
                            <img src="~/img/other/other6.jpg" alt="About Us">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="about-content content-right">
                        <h3 class="title">Giới Thiệu Về Chúng Tôi</h3>
                        <p style="font-size: 18px;">Chúng tôi là địa điểm lý tưởng dành cho những người yêu thú cưng, nơi bạn có thể tìm thấy mọi thứ bạn cần để chăm sóc và nuôi dưỡng chó, mèo và các loài thú cưng khác. Với đội ngũ chuyên gia giàu kinh nghiệm và lòng đam mê với các loài động vật, chúng tôi cam kết mang lại cho bạn những dịch vụ chất lượng nhất, từ việc bán các sản phẩm thú cưng chất lượng, đến các dịch vụ chăm sóc tại nhà và spa cho thú cưng của bạn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-team-area bg-wild-sand">
        <div class="team-left-fullwidth">
            <div class="container ml--xxl-0">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="fas fa-users"></i>Đội ngũ của chúng tôi</span>
                    <h3 class="title">Đội ngũ thành lập hệ thống, đại diện tiêu biểu của cửa hàng</h3>
                </div>
                <div class="team-slide-activation slick-layout-wrapper--20 axil-slick-arrow  arrow-top-slide">
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/other/other7.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Nhà quản lý</span>
                                <h5 class="title">Nguyễn Phúc Hưng</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/other/other10.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Người huấn luyện thú cưng</span>
                                <h5 class="title">Nguyễn Thị Thu Linh</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/other/other11.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Spa thú cưng</span>
                                <h5 class="title">Thành Hữu Ngân Giang</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/other/other8.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Chăm sóc khách hàng</span>
                                <h5 class="title">Nguyễn Văn Hùng</h5>
                            </div>
                        </div>
                    </div>
                    <div class="slick-single-layout">
                        <div class="axil-team-member">
                            <div class="thumbnail"><img src="~/img/other/other9.jpg" alt="Cody Fisher"></div>
                            <div class="team-content">
                                <span class="subtitle">Chăm sóc thú cưng tại nhà</span>
                                <h5 class="title">Trần Minh Trung</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-about-area about-style-2">
        <div class="container">
            <div class="row align-items-center mb--80 mb_sm--60">
                <div class="col-lg-5">
                    <div class="about-thumbnail">
                        <img src="~/img/other/other12.jpg" alt="about">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-content content-right">
                        <h3 class="title">Sản Phẩm và Dịch Vụ</h3>
                        <p style="font-size: 18px;">
                            Tại trang web của chúng tôi, bạn sẽ tìm thấy một bộ sưu tập đa dạng của các sản phẩm chất lượng cao cho chó, mèo và các loài thú cưng khác. Từ đồ chơi sáng tạo đến thức ăn dinh dưỡng và đồ dùng chăm sóc sức khỏe, chúng tôi cam
                            kết cung cấp những sản phẩm tốt nhất cho bạn và thú cưng của mình.
                        </p>
                        <p style="font-size: 18px;">
                            Ngoài ra, chúng tôi còn cung cấp các dịch vụ độc đáo như spa thú cưng để giúp thú cưng của bạn trải qua trải nghiệm thư giãn và thoải mái. Bạn cũng có thể tận hưởng các dịch vụ trông giữ chuyên nghiệp và chăm sóc tại nhà, giúp
                            thú cưng của bạn luôn được chăm sóc một cách tốt nhất mỗi khi bạn không có thời gian hoặc không thể ở bên cạnh chúng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center" style="margin-bottom: 100px;">
                <div class="col-lg-5 order-lg-2">
                    <div class="about-thumbnail">
                        <img src="~/img/other/other5.jpg" alt="about">
                    </div>
                </div>
                <div class="col-lg-7 order-lg-1">
                    <div class="about-content content-left">
                        <h3 class="title">Hãy đặt niềm tin ở chúng tôi</h3>
                        <p style="font-size: 18px;">
                            Chúng tôi tin rằng mối quan hệ giữa con người và thú cưng là đặc biệt và quý báu. Vì vậy, chúng tôi không chỉ cung cấp các sản phẩm và dịch vụ, mà còn tạo ra một cộng đồng yêu thú cưng, nơi mà bạn có thể chia sẻ kinh nghiệm, kiến
                            thức và tình yêu dành cho thú cưng của mình.
                        </p style="font-size: 18px;">
                        <p style="font-size: 18px;">Hãy đồng hành cùng chúng tôi trên hành trình chăm sóc và nuôi dưỡng thú cưng của bạn. Truy cập trang web của chúng tôi ngay hôm nay và khám phá thế giới đầy màu sắc của thú cưng!</p>
                        <i style="font-size: 18px;">Cảm ơn bạn đã ghé thăm trang web của chúng tôi và chúng tôi mong muốn được phục vụ bạn và thú cưng của bạn!</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="~/assets/js/main.js"></script>
</html>