<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body class="sticky-header">

    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Chính sách</li>
                        </ul>
                        <h1 class="title">Chính sách bảo mật</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/img/other/other1.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-privacy-area axil-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="axil-privacy-policy">
                        <span class="policy-published">Chính sách quyền riêng tư này được xuất bản vào ngày 29 tháng 1 năm 2023.</span>
                        <h4 class="title">1. THÔNG TIN THU THẬP</h4>
                        <p>Chúng tôi thu thập thông tin cá nhân từ người dùng chỉ khi họ cung cấp thông tin đó tự nguyện, bao gồm tên, địa chỉ email, địa chỉ nhà và số điện thoại. Chúng tôi không thu thập thông tin cá nhân từ người dùng mà không họ cho phép.</p>
                        <h4 class="title">2. MỤC ĐÍCH SỬ DỤNG THÔNG TIN</h4>
                        <p>
                            Thông tin cá nhân được thu thập chỉ được sử dụng để cung cấp các dịch vụ và sản phẩm mà người dùng yêu cầu. Ngoài ra, chúng tôi cũng có thể sử dụng thông tin này để liên hệ với người dùng về các ưu đãi đặc biệt, sự kiện và thông
                            tin quảng cáo.
                        </p>
                        <h4 class="title">3. BẢO MẬT THÔNG TIN</h4>
                        <p>Chúng tôi cam kết bảo mật thông tin cá nhân của người dùng. Chúng tôi sử dụng các biện pháp an ninh vật lý, điện tử và quản lý để bảo vệ thông tin khỏi mất mát, truy cứu, sử dụng trái phép hoặc tiết lộ không đúng mục đích.</p>
                        <h4 class="title">4. CHIA SẺ THÔNG TIN</h4>
                        <p>Chúng tôi không chia sẻ, bán hoặc cho thuê thông tin cá nhân của người dùng cho bất kỳ bên thứ ba nào mà không có sự cho phép từ người dùng.</p>
                        <h4 class="title">5. ĐIỀU CHỈNH THÔNG TIN CÁ NHÂN</h4>
                        <p>Người dùng có quyền truy cứu, chỉnh sửa hoặc xoá thông tin cá nhân của mình bất cứ lúc nào. Họ cũng có thể rút lại sự đồng ý cho việc chúng tôi sử dụng thông tin của họ theo bất kỳ cách nào.</p>
                        <h4 class="title">6. SỬ DỤNG COOKIES</h4>
                        <p>
                            Chúng tôi có thể sử dụng cookies để thu thập thông tin về cách người dùng truy cập và sử dụng trang web của chúng tôi. Cookies là các tệp tin nhỏ được lưu trữ trên thiết bị của người dùng để cải thiện trải nghiệm duyệt web của
                            họ.
                        </p>
                        <h4 class="title">7. LIÊN HỆ</h4>
                        <p>
                            Nếu bạn có bất kỳ câu hỏi hoặc ý kiến phản hồi nào về Chính sách Bảo mật của chúng tôi, vui lòng liên hệ với chúng tôi qua email theo địa chỉ: <a href="mailto:psmsg65@gmail.com?subject=Chính sách bảo mật" style="color: rgb(252, 99, 99);">psmsg65@gmail.com</a> . Chúng tôi cam kết đảm
                            bảo rằng thông tin cá nhân của bạn sẽ được bảo vệ và sử dụng một cách an toàn và minh bạch.
                        </p>

                        <i style="font-weight: inherit;"> Cám ơn bạn đã sử dụng dịch vụ của chúng tôi!</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="~/assets/js/main.js"></script>
</html>