<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="sticky-header">

    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/Home">Trang chủ</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">Điều khoản</li>
                        </ul>
                        <h1 class="title">Điều khoản sử dụng</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/img/other/other2.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-privacy-area axil-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="axil-privacy-policy">
                        <span class="policy-published">Điều khoản sử dụng này được xuất bản vào ngày 29 tháng 1 năm 2023.<p>Xin vui lòng đọc kỹ và hiểu rõ các điều khoản và điều kiện sau đây trước khi sử dụng trang web của chúng tôi.</p></span>
                        <h4 class="title">1. CHẤP NHẬN ĐIỀU KHOẢN SỬ DỤNG</h4>
                        <p>
                            Khi bạn truy cập và sử dụng trang web của chúng tôi, bạn đồng ý tuân thủ các điều khoản và điều kiện sử dụng được mô tả trong tài liệu này. Nếu bạn không đồng ý với bất kỳ điều khoản nào, bạn không nên sử dụng trang web của chúng
                            tôi.
                        </p>
                        <h4 class="title">2. SỬ DỤNG DỊCH VỤ</h4>
                        <p>Chúng tôi cung cấp các dịch vụ liên quan đến chó, mèo và các sản phẩm/dịch vụ liên quan. Bạn đồng ý sử dụng các dịch vụ này chỉ cho mục đích hợp pháp và tuân thủ mọi luật lệ và quy định áp dụng.</p>
                        <h4 class="title">3. BẢN QUYỀN</h4>
                        <p>
                            Mọi nội dung trên trang web này, bao gồm nhưng không giới hạn ở văn bản, hình ảnh, đồ họa, biểu đồ và mã nguồn, đều thuộc bản quyền của chúng tôi hoặc các bên cấp phép cho chúng tôi. Bạn không được sao chép, sửa đổi, phân phối
                            hoặc tái sản xuất bất kỳ phần nào của nội dung này mà không có sự cho phép bằng văn bản từ chúng tôi.
                        </p>
                        <h4 class="title">4. TRÁCH NHIỆM NGƯỜI DÙNG</h4>
                        <p>
                            Bạn chịu trách nhiệm với mọi hoạt động được thực hiện dưới tên của bạn khi sử dụng trang web của chúng tôi. Bạn đồng ý bảo vệ, giữ cho vô hại và không khiếu nại chúng tôi và các đối tác, nhân viên, quản lý và người đại diện của
                            chúng tôi khỏi mọi khiếu nại, tổn thất, trách nhiệm pháp lý, chi phí và chi phí khác liên quan đến việc sử dụng của bạn trang web của chúng tôi hoặc vi phạm bất kỳ điều khoản nào trong Điều Khoản Sử Dụng này.
                        </p>
                        <h4 class="title">5. THAY ĐỔI ĐIỀU KHOẢN</h4>
                        <p>Chúng tôi có quyền cập nhật hoặc thay đổi Điều Khoản Sử Dụng này bất cứ lúc nào. Bất kỳ thay đổi nào sẽ được công bố trên trang web của chúng tôi và có hiệu lực ngay khi được công bố.</p>
                        <p>
                            <strong>Hoàn Tiền Sản Phẩm:</strong>

                            Nếu bạn không hài lòng với sản phẩm mà bạn đã mua từ chúng tôi, bạn có quyền yêu cầu hoàn tiền trong vòng 30 ngày kể từ ngày mua. Sản phẩm phải ở trong tình trạng ban đầu và chưa sử dụng.
                            Hoàn Tiền Dịch Vụ:

                            Đối với các dịch vụ như đặt lịch dịch vụ hoặc đặt lịch thuê phòng, bạn có thể yêu cầu hoàn tiền trước 24 giờ trước thời điểm dịch vụ được lên lịch.
                        </p>
                        <p>
                            <strong>Xử Lý Hoàn Tiền:</strong>

                            Hoàn tiền sẽ được xử lý trong vòng 7 ngày làm việc sau khi yêu cầu được chấp nhận. Chúng tôi sẽ thông báo cho bạn qua email khi quá trình hoàn tiền được thực hiện.
                        </p>
                        <h4 class="title">6. LIÊN HỆ</h4>
                        <p>
                            Nếu bạn có bất kỳ câu hỏi hoặc ý kiến phản hồi nào về Điều Khoản Sử Dụng của chúng tôi, vui lòng liên hệ với chúng tôi qua email theo địa chỉ: <a href="mailto:psmsg65@gmail.com?subject=Điều khoản sử dụng" style="color: rgb(252, 99, 99);">psmsg65@gmail.com</a>. Chúng tôi cám ơn bạn đã
                            đọc và hiểu rõ Điều Khoản Sử Dụng này trước khi sử dụng trang web của chúng tôi.
                        </p>
                        <i style="font-weight: inherit;"> Cám ơn bạn đã sử dụng dịch vụ của chúng tôi!</i>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>

<!-- Main JS -->
<script src="~/assets/js/main.js"></script>
</html>