<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/customer/customer.css" rel="stylesheet" />
</head>
<body>
    <div class="info-cus">
        <div class="card-body tab-content" style="display: block;">
            <div class="tab-pane fade active show" id="account-change-password">
                <form method="post" asp-controller="MenuCustomer" asp-action="ChangePassword" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="OldPassword" class="form-label">Mật khẩu cũ</label>
                        <input asp-area="Manager" asp-for="OldPassword" class="form-control" id="OldPassword" name="OldPassword" type="password" placeholder="Nhập mật khẩu cũ" required>
                    </div>

                    <div class="mb-3">
                        <label for="NewPassword" class="form-label">Mật khẩu mới</label>
                        <div class="input-group">
                            <input asp-area="Manager" asp-for="NewPassword" class="form-control" id="NewPassword" name="NewPassword" type="password" placeholder="Nhập mật khẩu mới" required>
                            <span class="input-group-text" id="showPassword">
                                <i class="far fa-eye" id="eyeIcon"></i>
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="ConfirmNewPassword" class="form-label">Nhập lại mật khẩu mới</label>
                        <div class="input-group">
                            <input class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" type="password" placeholder="Nhập lại mật khẩu mới" required>
                            <span class="input-group-text" id="showConfirmPassword">
                                <i class="far fa-eye" id="eyeConfirmIcon"></i>
                            </span>
                        </div>
                        <div id="passwordMismatchMessage" style="color: red;"></div>
                    </div>
                    <button style="margin-bottom:2%;" class="btn btn-primary" type="submit">Đổi mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="~/assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="~/assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="~/assets/js/vendor/popper.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="~/assets/js/vendor/slick.min.js"></script>
<script src="~/assets/js/vendor/js.cookie.js"></script>
<!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
<script src="~/assets/js/vendor/jquery-ui.min.js"></script>
<script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
<script src="~/assets/js/vendor/sal.js"></script>
<script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="~/assets/js/vendor/counterup.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>
<!-- Main JS -->
<script src="~/assets/js/main.js"></script>
<script src="~/js/checkpassword.js"></script>
<script src="~/js/toastnotification.js"></script>
</html>
