<link rel="stylesheet" href="/css/Blog/EditBlog.css">

<head>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
         tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        });
    </script>
</head>
<body>
<div class="title">
    <h1>Chỉnh Sửa Bài Viết</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="width: 120%; height: 100%; border-radius: 5px; background-color: #F2F2F2;margin-bottom: 5%;">
      <form asp-action="EditBlog" method="post"  enctype="multipart/form-data" style=" margin-left: 5%; width: 90%; margin-bottom: 2%;
    margin-top: 2%;">
        <div class="form-group">
          <label for="PageTile" >Tên bài viết <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:<span class="fr-icon required fr-label-note" aria-hidden="true"></span></label>
          <input type="text" class="form-control" name="PageTile" value="@Model?.PageTile" required placeholder="Tên bài viết"/>
        </div>
        <div class="form-group">
          <label>Tiêu đề bài viết <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="text" class="form-control" name="Heading" value="@Model?.Heading" required placeholder="Tiêu đề bài viết"/>
        </div>
        <div class="form-group">
          <label>Mô tả <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="text" class="form-control" name="Description" value="@Model?.Description" required placeholder="Mô tả"/>
        </div>
        <div class="form-group">
          <label for="PublisheDate">Ngày đăng <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="date" class="form-control" name="PublisheDate" value="@Model?.PublisheDate?.ToString("yyyy-MM-dd")" disabled/>

        </div>
        <div class="form-group">
          <label>Ảnh :</label>
          <div class="input-group">
            <input type="file" name="image" class="form-control" accept="image/*">
           </div>
        </div>
        <div class="form-group">
            <label>Nội dung <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
            <textarea class="form-control" id="tiny"  rows="20" cols="50" name="Content" required>@Model?.Content</textarea>
        </div>
        <div class="form-group">
            <label>Tag <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i></label>
             <div class="service-container">
               @if (ViewBag.Tag != null)
                    {
                     <select id="TagId" name="TagId" class="form-group" style="border-radius: 7px; width: 200px; height: 40px;" required>
                     <option value="@Model?.TagId">@Model?.TagName</option>
                            @foreach (var tag in ViewBag.Tag)
                            {
                              <option value="@tag.Value">@tag.Text</option>
                            }
                    </select>
                    }
                    else
                    {
                        <span class="text-danger">Error: Tag data not available.</span>
                    }
             </div>
        </div>
        <div class="raw">
                <div class="col-25">
                    <label for="Status">Trạng thái:</label>
                </div>
                <div class="col-75">
                    <div class="switch">
                        <input type="checkbox" name="Status" class="toggles" @(Model.Status ? "checked" : "") />
                        <label class="label @(Model.Status ? "active" : "inactive")"></label>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="row">
            <div class="sub">
            <a href="/Manager/Blog"><input style="background: red; border-color: red;" value="Trở Lại" class="btn btn-primary form-control"/></a>
            </div>
            <div class="sub">
               <input type="submit" name="Submit" style="background: #43e240; border-color: #43e240; width:150px;" value="Lưu chỉnh sửa" class="btn btn-primary form-control" />
            </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
.fa-asterisk {
            color: red;
            font-size:6px;
            padding-top:20px;
            margin-right:10px;
        }
</style>
</body>