<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/Service/Service.css">
<link href="~/css/toastNotification.css" rel="stylesheet" />
</head>
<body>
<h2>Thêm thú cưng </h2>
<div class="container">
  <form asp-action="AddPet" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    <div class="row">
      <div class="col-25">
        <label for="PetName">Tên thú cưng<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
      </div>
      <div class="col-75">
        <input type="text" id="PetName"  value="@Model?.PetName" name="PetName" placeholder="Tên thú cưng.." required>
        <div style="color:red" class="error-message" id="fname-error-message"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="image">Ảnh<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
      </div>
      <div class="col-75">
        <input type="file" id="image" name="image" onchange="changeImageSource()" style="margin-top:20px" accept="image/*" required>
                    @if (@Model?.ImagePet == null)
                    {
                        <img src="~/img/icon/addicon.png" style="float: left;" id="imagePreview" >
                    }
                    else{
                        <img src="src="@Model?.ImagePet"" style="float: left;" id="imagePreview" >
                        
                        }
                    </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Gender">Giới tính<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
      </div>
      <div class="col-75">
        <select name="Gender" id="Gender" required>
                        @if (@Model?.Gender == null)
                        {
                            <option>Chọn giới tính cho bé <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i> </option>
                        }else{
            <option>
             @if(@Model?.Gender == true)
             {
              <p>Đực</p>
             }
             else
             {
              <p>Cái</p>
             }</option>}
            <option value="true">Đực</option>
            <option value="false">Cái</option>
        </select>
        <div style="color:red" class="error-message" id="price-error-message"></div> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Price">Giống thú cưng <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
      </div>
      <div class="col-75">
        <input type="text" id="Species" name="Species" value="@Model?.Species" placeholder="Giống thú cưng" required>
        <div style="color:red" class="error-message" id="price-error-message"></div> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Dob">Ngày sinh<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
      </div>
      <div class="col-75">
        <input type="date" id="Dob" class="toinput" name="Dob"  required>
        <div style="color:red" class="error-message" value="@Model?.Dob?.ToString("yyyy-MM-dd")" id="price-error-message"></div> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Weight">Cân nặng<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
      </div>
      <div class="col-75">
        <input type="number" class="toinput" id="Weight" name="Weight"  value="@Model?.Weight" min="0" required>
        <div style="color:red" class="error-message" id="price-error-message"></div> 
      </div>
    </div>
    <input type="text" id="UserInfoId" name="UserInfoId" value="@ViewBag.account.UserInfoId" required hidden>
    <div class="row">
      <div class="col-25">
        <label for="Descriptions">Mô Tả:</label>
      </div>
      <div class="col-75">
        <textarea id="Descriptions" name="Descriptions" placeholder="Mô tả .." style="height:200px" >@Model?.Descriptions</textarea>
        <div style="color:red" class="error-message" id="subject-error-message"></div>
      </div>
    </div>
    <div class="row">
      <div class="btn-group col-2">
         <a class="btn btn-primary btn_a" type="submit" value="Cancel" href="~/Customer/Pet/PetInfo" class="cancel">Trở lại</a>
      </div>
      <div class="col-10">
        <input class="btn btn-primary" type="submit" value="Thêm thú cưng mới">
      </div>
    </div>
  </form>
</div>
<style>
    img{
        width:100px;
        height:100px;
    }
.fa-asterisk {
            color: red;
            font-size:6px;
            padding-top:20px;
            margin-right:10px;
        }
      .toinput{
    width: 609px;
    height: 50px;
    border: px;
    border-radius: 5px;
    border: 1px solid #ccc;
      }
</style>
<script src="~/js/Service.js"></script>
<script>
function validateForm() {
    // Các bước kiểm tra khác trong form nếu cần

    var inputDate = document.getElementById("Dob").value;
    var currentDate = new Date().toISOString().slice(0, 10);

    if (inputDate > currentDate) {
        alert("Ngày sinh phải trước ngày hiện tại!");
        return false;
    }

    return true; // Nếu tất cả điều kiện đều đúng
}

</script>


</body>
</html>
